.profile__name {
  margin: 0 18px 0 0;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  max-width: 294px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 850px) {
  .profile__name {
    margin-top: 28px;
  }
}

@media screen and (max-width: 350px) {
  .profile__name {
    max-width: 189px;
    margin-right: 10px;
    margin-left: 24px;
    font-size: 27px;
    line-height: normal;
  }
}
