.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  column-gap: 17px;
  row-gap: 20px;
  max-width: calc(100% - 31.25%);
  margin: 51px auto 0;
}

@media screen and (max-width: 450px) {
  .elements {
    margin-top: 36px;
    max-width: calc(100% - 38px);
  }
}
