.popup__save {
  cursor: pointer;
  margin: 48px 0 0;
  width: 100%;
  height: 50px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  border-radius: 2px;
  border: 0;
}

.popup__save:hover {
  opacity: 0.8;
}

@media screen and (max-width: 550px) {
  .popup__save {
    height: 46px;
    margin-top: 45px;
    font-size: 14px;
  }
}
